<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.InventoryMapper">
	<delete id="deleteInventory" parameterType="int">
		DELETE FROM inventory WHERE inventory_id=#{inventoryId}
	</delete>
	<insert id="insertInventory" parameterType="com.gd.sakila.vo.Inventory">
		INSERT INTO inventory(film_id,store_id) VALUES(#{filmId}, #{storeId})
	</insert>
	<select id="selectInventoryTotal" parameterType="String" resultType="int">
		SELECT 
		   COUNT(*)
		FROM film
		<where>
			<if test="!searchWord.equals('')">
				AND f.title LIKE CONCAT('%',#{searchWord},'%')
			</if>
		</where>
	</select>
	
	
	<!-- 
			SELECT 
		   i.inventory_id inventoryId, 
		   i.store_id storeId, 
		   f.title title, 
		   case when inventory_held_by_customer (i.inventory_id) IS NOT null
		         then '대여중'
		         ELSE '재고있음'
		   END 'stockStatus',
		   inventory_held_by_customer (i.inventory_id) AS customerId 
		FROM inventory i, film f WHERE i.film_id=f.film_id
	
	
	
	
			

	 -->
	
	<!--  인벤토리 리스트 만들기!: 대여현황, 대여중인 손님 id -->
	<select id="selectInventoryList" parameterType="java.util.Map" resultType="java.util.Map">
			
			SELECT
				f.film_id filmId,
				f.title title,
				inventory_in_stock(i.inventory_id) AS stock,
				SUM(i.store_id=1) AS store1,
				SUM(i.store_id=2) AS store2,
				COUNT(i.inventory_id) AS totalStock
			FROM inventory i RIGHT JOIN film f
					ON i.film_id = f.film_id
			GROUP BY f.film_id, stock
			HAVING stock>0
		<where>
			
			<if test="!searchWord.equals('')">
				AND f.title LIKE CONCAT('%',#{searchWord},'%')
			</if>
		</where>
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<select id="selectInventoryByRental" parameterType="int" resultType="java.util.Map">
		SELECT 
			inventory_in_stock(#{inventoryId}) AS state,
			i.inventory_id inventoryId,
			f.title title, 
			f.rating rating,
			f.rental_rate rentalRate,
			f.rental_duration rentalDuration
		FROM inventory i 
			INNER JOIN film f ON i.film_id=f.film_id 
		WHERE i.inventory_id= #{inventoryId}
	</select>
</mapper>